<% layout('layouts/boilerplate') %>
    
<h1><%= track.name %></h1>
<h2><%= track.location %></h2>
<h3><%= track.description %></h3>
<h3>Price: <%= track.price %>/hr</h3>
<img src="<%= track.image %>" alt="track-image" style="height: 500px">

<p>
    <a href="/kartTracks/<%= track._id %>/edit">Edit</a>
</p>
<p>
    <form action="/kartTracks/<%= track._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</p>

<a href="/kartTracks">Back</a>
